

.card-title span {background-color: red; padding: 5px;
color: white; border-radius: 5px;}


/* 
.soon-layer h3{  background-color: red;
font-weight: 500;
 position: absolute;
 width: auto;
 height: auto;
 top: 0;
 bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
} */