.Settings{  background-color: #e2e6ea;}
.Settings .mytable{background-color: white; border-radius: 20px;}
.cartext{ text-align: center;
    padding-top: 10px; margin: auto; background-color: red; border: none;}