*{box-sizing: border-box;
  padding: 0px;
  margin: 0px ;
  transition: all 0.3s ;
}

.w-90{width:90% ; margin: auto;}
@media (max-width: 400px) {

}
 

@media (max-width: 600px) {


}

.ArabicFont{text-align: right;
  font-family: 'Almarai', sans-serif;
}

.home{background-color: #E2E6EA!important;}
